<!-- NAVBAR  -->
  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <div class="container">

      <a href="#" class="navbar-brand"> <span class="text-primary">Seguimiento</span>Code</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
        aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarS">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#nosotros" class="nav-link">Nosotros</a>
          </li>
          <li class="nav-item">
            <a href="#documentos" class="nav-link">Documentos</a>
          </li>
          <!-- <li class="nav-item">
            <a href="#seguimiento" class="nav-link">Seguimiento</a>
          </li>
          <li class="nav-item">
            <a href="#tyt" class="nav-link">Tyt</a>
          </li>
          <li class="nav-item">
            <a href="#req_certificacion" class="nav-link">Requisitos certificacion</a> -->
          <!-- </li> -->
          <li class="nav-item">
            <a href="#contacto" class="nav-link">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR  -->

  <!-- CARROUSEL  -->

  <div id="carouselE" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselE" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1">
      </button>

      <button type="button" data-bs-target="#carouselE" data-bs-slide-to="1"  aria-current="true"
        aria-label="Slide 2">
      </button>

      <button type="button" data-bs-target="#carouselE" data-bs-slide-to="2"  aria-current="true"
        aria-label="Slide 3">
      </button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../assets/img/nature1.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption">
          <h5>Playa con buseo</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad impedit tempora facere saepe consectetur quo id placeat odio ab, nam dicta minima necessitatibus iusto eaque. Maxime quis rerum vel veritatis?</p>
          <a href="#" class="btn btn-primary mt-3">Mas información</a>
        </div>
      </div>

      <div class="carousel-item active">
        <img src="../assets/img/nature2.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption">
          <h5>Playa con buseo</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad impedit tempora facere saepe consectetur quo id placeat odio ab, nam dicta minima necessitatibus iusto eaque. Maxime quis rerum vel veritatis?</p>
          <a href="#" class="btn btn-primary mt-3">Mas información</a>
        </div>
      </div>

      <div class="carousel-item active">
        <img src="../assets/img/nature3.jpg" class="d-block w-100" alt="">
        <div class="carousel-caption">
          <h5>Playa con buseo</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad impedit tempora facere saepe consectetur quo id placeat odio ab, nam dicta minima necessitatibus iusto eaque. Maxime quis rerum vel veritatis?</p>
          <a href="#" class="btn btn-primary mt-3">Mas información</a>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button"
    data-bs-target="#carouselE"
    data-bs-slide="prev"
    >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previus</span>
  </button>

  <button class="carousel-control-next" type="button"
    data-bs-target="#carouselE"
    data-bs-slide="next"
    >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>

  <!-- END CARROUSEL  -->

  <!-- SECCION QUIENES SOMOS  -->

      <section id="nosotros" class="about section-padding">

        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text text-white">
                  <h2>Hoteles y Playa <br>Servicios</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium iusto dolor reiciendis neque? Minima voluptatibus eligendi, magnam iusto aut esse voluptas minus eum quibusdam, quae vitae, temporibus magni accusantium dicta!</p>
                  <a href="#" class="btn btn-primary">Mas Información</a>
                </div>
            </div>
          </div>
        </div>
      </section>

  <!-- END SECCION QUIENES SOMOS  -->

  <!-- SECCION DOCUMENTOS  -->

      <section id="documentos" class="services section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center text-white pb-5">
                <h2>Nuestro Servicios</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ut at nostrum officiis corporis numquam laudantium, debitis et <br>velit dolor amet sequi voluptatem porro autem recusandae soluta laboriosam officia in.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-laptop">📱</i>
                  <h3 class="card-title">Registro</h3>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde placeat recusandae accusantium obcaecati a libero, assumenda, repellat, eveniet iure illum. Deserunt sint assumenda minima temporibus voluptatibus dicta. Laborum, vero?
                  </p>
                  <a href="#seguimiento" class="nav-link text-primary">Mas Información..</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-wifi">📶</i>
                  <h3 class="card-title">Internet</h3>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde placeat recusandae accusantium obcaecati a libero, assumenda, repellat, eveniet iure illum. Deserunt sint assumenda minima temporibus voluptatibus dicta. Laborum, vero?
                  </p>
                    <a href="#tyt" class="nav-link text-primary">Mas Información..</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <i class="bi bi-tv">📺</i>
                  <h3 class="card-title">TV</h3>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde placeat recusandae accusantium obcaecati a libero, assumenda, repellat, eveniet iure illum. Deserunt sint assumenda minima temporibus voluptatibus dicta. Laborum, vero?
                  </p>
                  <a href="#req_certificacion" class="nav-link text-primary">Mas Información..</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <!-- END SECCION DOCUMENTOS  -->



  <!-- SECTION SEGUIMIENTO  -->

  <section class="portfolio section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center text-white pb-5">
                    <h2>Playas</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit Maiores unde.</p>
                </div>
            </div>
        </div>

        <div class="row bg-dark">
            <div class="col-12 col-md-12 col-lg-7 ">
                <div class="card bg-dark mt-2 text-ligth text-center pb-2">
                          <video src="../assets/video/video.mp4" controls class="" controls></video>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 ps-lg-3 mt-md-5">
              <div class="about-text text-white">
                <h2>Hoteles y Playa <br>Servicios</h2>
                <p>Lorem Laudantium iusto dolor reiciendis neque? Minima voluptatibus eligendi, magnam iusto aut esse voluptas minus eum quibusdam, quae vitae, temporibus magni accusantium dicta!</p>
                <a href="../assets/prueba2.xlsx" class="btn btn-primary mb-2" download="ejemplo" title="descargar ejemplo">Mas Información</a>
              </div>
          </div>
        </div>

    </div>

  </section>

  <!-- END SECTION SEGUIMIENTO  -->

    <!-- SECTION TYT  -->

     <section class="portfolio section-padding">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center text-white pb-5">
                        <h2>Playas</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit Maiores unde.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 1</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 2</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 3</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

      </section>

    <!-- END SECTION TYT  -->

      <!-- SECTION REQ_CERTIFICACION  -->

  <section class="portfolio section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center text-white pb-5">
                    <h2>Playas</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit Maiores unde.</p>
                </div>
            </div>
        </div>

        <div class="row bg-dark">
            <div class="col-12 col-md-12 col-lg-7">
                <div class="card text-ligth text-center pb-2">
                    <div class="card-body text-primary">
                        <div class="img-area mb-4">
                            <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 ps-lg-3 mt-md-5">
              <div class="about-text text-white">
                <h2>Hoteles y Playa <br>Servicios</h2>
                <p>Lorem Laudantium iusto dolor reiciendis neque? Minima voluptatibus eligendi, magnam iusto aut esse voluptas minus eum quibusdam, quae vitae, temporibus magni accusantium dicta!</p>
                <a href="#" class="btn btn-primary">Mas Información</a>
              </div>
          </div>
        </div>

    </div>

  </section>

  <!-- END SECTION REQ_CERTIFICACION  -->


  <!-- THREE SECTION  -->

      <!-- <section class="portfolio section-padding">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center text-white pb-5">
                        <h2>Playas</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing <br> elit Maiores unde.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 1</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 2</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-ligth text-center bg-dark pb-2">
                        <div class="card-body text-white">
                            <div class="img-area mb-4">
                                <img src="../assets/img/nature2.jpg" class="img-fluid" alt="">
                            </div>
                            <h3>Playa 3</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi magni numquam alias, totam quo ex nam facilis, esse, ipsum delectus excepturi error aspernatur adipisci deleniti repellendus voluptatum? Minima, quidem.</p>
                            <button class="btn bg-primary text-white">Mas informacion</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

      </section> -->

  <!-- END THREE SECTION  -->

  <!-- FOUR SECTION  -->

      <!-- <section class="team section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="section-header text-center text-white pb-5">
                        <h2>Asesores</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit <br> Optio quasi magni numquam alias,
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center bg-dark">
                        <div class="card-body text-white">
                            <img src="../assets/img/nature2.jpg" class="img-fluid rounded-circle" alt="">
                            <h3 class="card-title py-2">Lorem</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatum officia id distinctio eligendi.
                            </p>
                            <p class="socials">
                                <i class="bi bi-twitter text-white mx-1"></i>
                                <i class="bi bi-facebook text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center bg-dark">
                        <div class="card-body text-white">
                            <img src="../assets/img/nature2.jpg" class="img-fluid rounded-circle" alt="">
                            <h3 class="card-title py-2">Lorem</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatum officia id distinctio eligendi.
                            </p>
                            <p class="socials">
                                <i class="bi bi-twitter text-white mx-1"></i>
                                <i class="bi bi-facebook text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-center bg-dark">
                        <div class="card-body text-white">
                            <img src="../assets/img/nature2.jpg" class="img-fluid rounded-circle" alt="">
                            <h3 class="card-title py-2">Lorem</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptatum officia id distinctio eligendi.
                            </p>
                            <p class="socials">
                                <i class="bi bi-twitter text-white mx-1"></i>
                                <i class="bi bi-facebook text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                                <i class="bi bi-linkedlin text-white mx-1"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </section> -->

  <!-- END FOUR SECTION  -->

  <!-- FIVE CONTACTO  -->

      <section id="contacto" class="contact section-padding">

        <div class="container mt-5 mb-5">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center text-white pb-5">
                        <h2>Contacto</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem alias asperiores amet, repellat repudiandae ratione cum unde voluptatem a eius mollitia,<br> facere, reprehenderit nulla enim omnis eos. Architecto, perferendis quis.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-md-12 p-0 pt-4 pb-4">
                    <form action="#" class="bg-dark p-4 m-auto">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Correo">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Mensaje" rows="3"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block mt-3">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

      </section>

  <!-- END  FIVE CONTACTO  -->

  <!-- FOOTER  -->

      <footer class="bg-dark p-2 text-center ">
        <div class="container">
            <p class="text-white">Playas de Colombia</p>
        </div>
      </footer>

  <!-- END FOOTER  -->
